{% ckan_extends %}

{% block primary_content %}
{{ super() }}
<section class="module module-content">
{{ h.disqus_comments() }}
</section>
{% endblock %}

{% block secondary_content %}
  {% if c.harvest_catalogue_name %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      Metadata Source
    </h2>
    <p class="module-content">
      {% if c.harvest_dataset_url %}
        <a href="{{ c.harvest_dataset_url }}">Source page</a> on
      {% endif %}
      {% if c.harvest_catalogue_url %}
        <a href="{{ c.harvest_catalogue_url }}">
          {{ c.harvest_catalogue_name }}
        </a>
      {% else %}
        {{ c.harvest_catalogue_name }}
      {% endif %}
    </p>
  </section>

  {% endif %}

  {{ super() }}

  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-copy"></i>
      Metadaten
    </h2>
    <div class="module-content">
      <p class="btn-group">
        {# FIXME Can't this be done with url_for? #}
        
        <a href="/api/3/action/package_show?id={{  c.pkg_dict['name'] }}" class="btn btn-small">
          <i class="ckan-icon ckan-icon-json"></i> JSON
        </a>
        <a rel="rdfs:seeAlso" href="/dataset/{{  c.pkg_dict['name'] }}.rdf" class="btn btn-small">
          <i class="ckan-icon ckan-icon-rdfxml"></i> RDF
        </a>
        <a rel="rdfs:seeAlso" href="/dataset/{{  c.pkg_dict['name'] }}.n3" class="btn btn-small">
          <i class="ckan-icon ckan-icon-rdfxml"></i> n3
        </a>
      </p>
      <p><small>über das <a href="http://docs.ckan.org/en/latest/api.html">CKAN API</a></small></p>
    </div>
  </section>
{% endblock %}
