<ul class="media-grid">

  <li class="related-item media-item media media-vertical first" data-module="related-item">
    <a class="media-image" href="http://govdata.de">
      <img src="/images/catalogs/govdata.png" alt="GovData.de">
      <span class="banner">Offiziell</span>
    </a>
    <div class="media-content">
      <h3 class="media-heading">
        <a href="http://govdata.de" title="GovData.de">
          GovData.de
        </a>
      </h3>
      <div>Das Portal bietet einen einheitlichen, zentralen Zugang zu Daten von Bund, Ländern und Kommunen.</div>
    </div>
  </li>

  <li class="related-item media-item media media-vertical" data-module="related-item">
    <a class="media-image" href="http://daten.berlin.de/">
      <img src="/images/catalogs/daten_berlin.png" alt="Daten.Berlin.de">
      <span class="banner">Offiziell</span>
    </a>
    <div class="media-content">
      <h3 class="media-heading">
        <a href="http://daten.berlin.de/" title="Daten.Berlin.de">
          Daten.Berlin.de
        </a>
      </h3>
      <div>Das Daten-Portal der Stadt Berlin mit vielen Datensätzen in unterschiedlichen Bereichen.</div>
    </div>
  </li>
  <li class="related-item media-item media media-vertical" data-module="related-item">
    <a class="media-image" href="http://daten.hamburg.de/">
      <img src="/images/catalogs/daten_hamburg.png" alt="Daten.Hamburg.de">
      <span class="banner">Offiziell</span>
    </a>
    <div class="media-content">
      <h3 class="media-heading">
        <a href="http://daten.hamburg.de/" title="Daten.Hamburg.de">
          Daten.Hamburg.de
        </a>
      </h3>
      <div>Die Freie und Hansestadt Hamburg bietet zahlreiche Datensätze, Dienste und Anwendungen der Behörden und Ämter an.</div>
    </div>
  </li>
</ul>