<ul class="media-grid">

  <li class="related-item media-item media media-vertical first" data-module="related-item">
    <a class="media-image" href="http://govdata.de">
      <img src="/images/catalogs/govdata.png" alt="GovData.de">
      <span class="banner">Offiziell</span>
    </a>
    <div class="media-content">
      <h3 class="media-heading">
        <a href="http://govdata.de" title="GovData.de">
          GovData.de
        </a>
      </h3>
      <div>Das Portal bietet einen einheitlichen, zentralen Zugang zu Daten von Bund, Ländern und Kommunen.</div>
    </div>
  </li>

  <li class="related-item media-item media media-vertical" data-module="related-item">
    <a class="media-image" href="http://govdata.de">
      <img src="/images/catalogs/govdata.png" alt="GovData.de">
      <span class="banner">Offiziell</span>
    </a>
    <div class="media-content">
      <h3 class="media-heading">
        <a href="http://govdata.de" title="GovData.de">
          GovData.de
        </a>
      </h3>
      <div>Das Portal bietet einen einheitlichen, zentralen Zugang zu Daten von Bund, Ländern und Kommunen.</div>
    </div>
  </li>
  <li class="related-item media-item media media-vertical" data-module="related-item">
    <a class="media-image" href="http://govdata.de">
      <img src="/images/catalogs/govdata.png" alt="GovData.de">
      <span class="banner">Offiziell</span>
    </a>
    <div class="media-content">
      <h3 class="media-heading">
        <a href="http://govdata.de" title="GovData.de">
          GovData.de
        </a>
      </h3>
      <div>Das Portal bietet einen einheitlichen, zentralen Zugang zu Daten von Bund, Ländern und Kommunen.</div>
    </div>
  </li>
</ul>