<p>OffeneDaten.de ist ein Datenkatalog für offene Daten in Deutschland. Die Seite wurde 2010 von engagierten Bürgern initiiert, weil es bis Dato kein vergleichbares Angebot in Deutschland gab.</p>
<p>Die Seite wird heute von der Open Knowledge Foundation Deutschland mit dem Zweck betrieben ein unabhängiges und umfassendes Datenangebot anzubieten, in dem sowohl Daten der Öffentlichen Verwaltung als auch Daten aus anderen Wissensdomainen, aus Wissenschaft und Forschung oder der Privatwirtschaft sowie von Bürgern erzeugte Daten (Crowdsourcing) zu finden sind.</p>
<p>Kurz: OffeneDaten.de ist keine Konkurenz, sondern ein ergänzendes Angebot zu offiziellen Datenportalen der Öffentlichen Verwaltung. Es wird von einer freiwilligen Community betrieben und gepflegt. Jeder kann mitmachen und Datensätze hinzufügen und kuratieren.</p>
<p>Wir möchten hier unter anderem Antworten auf folgende Fragen finden:</p>
<ul>
  <li>Wie muss ein Datenportal aussehen, das den Bedürfnissen der Nutzer entspricht?</li>
  <li>Können Bürger dazu beitragen Verwaltungsdaten besser nutzbar zu machen, etwa durch Aufbereitung oder Umwandlung in offene maschienenlesbare Formate?</li>
  <li>Open Data hört nicht bei der Verwaltung auf. Welche Datensätze können noch unter offenen Lizenzen veröffentlicht werden?</li>
</ul>

<p>In diesem Sinne wollen wir mit OffeneDaten.de einen Beitrag dazu leisten, das Angebot an offenen Daten in Deutschland nachhaltig zu verbessern. Wenn Sie Interesse haben mitzuhelfen melden Sie sich bitte bei <a href="mailto:info@offenedaten.de">bei uns via Mail</a>.</p>

<hr/>

<p>Das Portal basiert auf der aktuellen Entwickler-Version von <a href="http://ckan.org/">CKAN</a> und dient damit auch als Experimentierfeld für neue Features. OffeneDaten.de ist mit ehrenamtlicher Arbeit und ohne Budget innerhalb weniger Tage entstanden. Die gesamte Seite ist <a href="https://github.com/okfde/ckanext-offenedaten">freie Software/Open Source</a> und <a href="https://github.com/okfde/ckanext-offenedaten/issues">wir freuen uns über Feedback</a>.</p>
