{% ckan_extends %}

{% block styles %}
  {{ super() }}
  {% resource 'ckanext-offenedaten/vendor/leaflet/leaflet.css' %}
  {% resource 'ckanext-offenedaten/styles/offenedaten.css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'ckanext-offenedaten/vendor/underscore/underscore.js' %}
  {% resource 'ckanext-offenedaten/vendor/leaflet/leaflet.js' %}
  {% resource 'ckanext-offenedaten/vendor/leaflet.label/leaflet.label.js' %}
  {% resource 'ckanext-offenedaten/vendor/Leaflet.MakiMarkers/Leaflet.MakiMarkers.js' %}
  {% resource 'ckanext-offenedaten/scripts/euromap.js' %}
{% endblock %}
