{% ckan_extends %}

{% block footer_links %}
  <li><a href="/about">Über {{ g.site_title }}</a></li>
  <li><a href="http://docs.ckan.org/en/latest/api.html">API</a></li>
  <li><a href="mailto:info@okfn.de">Kontakt</a></li>
  <li><a href="http://www.okfn.de/">Open Knowledge Foundation</a></li>
  <li><a href="http://www.opendefinition.org/okd/">
    <img src="/images/od_80x15_blue.png">
  </a></li>
  <li><a href="http://okfn.de/impressum/">Impressum</a></li>
{% endblock %}

{% block footer_attribution %}
	{{ super() }}
	<div class="clearfix"></div>
{% endblock %}
