{% ckan_extends %}

{% block header_logo %}
  {% if g.site_logo %}
    <a class="logo" href="{{ h.url('home') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
  {% else %}
    <h1>
      <a href="{{ h.url('home') }}">{{ g.site_title }}</a>
    </h1>
  {% endif %}
{% endblock %}

{% block header_site_navigation %}
  <nav class="section navigation">
    <ul class="nav nav-pills">
      {{ h.build_nav_main(
        ('search', _('Datasets')),
        ('group_index', _('Groups')),
        ('organizations_index', _('Organizations')),
        ('about', _('About'))
      ) }}
    </ul>
  </nav>
{% endblock %}
