// Hides white border
.main,
[role="main"] {
	background-image: url(@offenedatenTextureImage);
	&::after,
	&::before {
		display: none;
	}
}

.hero {
	border-style: solid;
	border-color: white;
	border-width: 6px 0;
	.module-dark {
		border: 2px solid white;
	}
}

a {
	color: @offenedatenColorPrimary;
}

.btn-primary {
	background: @offenedatenColorPrimary !important;
	&:hover {
		background: darken(@offenedatenColorPrimary, 10) !important;
	}
}
