header.masthead {
	background: @offenedatenColorPrimary url(@offenedatenTextureImage);
	.site-search input {
		border-color: darken(@offenedatenColorPrimary, 30);
	}
	.dropdown-menu li a {
		color: @offenedatenColorPrimary;
		&:hover {
			background-color: @offenedatenColorPrimary;
		}
	}
	.navigation ul.unstyled li.active a {
		background: darken(@offenedatenColorPrimary, 10) url(@offenedatenTextureImage);
		.box-shadow(inset 0 2px 4px darken(@offenedatenColorPrimary, 20));
	}
	.account {
		background: darken(@offenedatenColorPrimary, 10) url(@offenedatenTextureImage);
		.button {
			background-color: lighten(@offenedatenColorPrimary, 5);
		}
		.open .button,
		.button:hover {
			background-color: lighten(@offenedatenColorPrimary, 20) !important;
		}
	}
	.logo {
		display: block;
		margin-top: 7px;
	}
}

body,
.site-footer {
	background: darken(@offenedatenColorPrimary, 10) url(@offenedatenTextureImage);
}
