{% ckan_extends %}

{% block breadcrumb_content %}
  <li class="active"><a href="#">About {{ g.site_title }}</a></li>
{% endblock %}

{% block actions_content %}
  <li><a href="mailto:info@okfn.de" class="btn"><i class="icon-envelope"></i> Contact Us</a></li>
  <li><a href="http://github.com/okfn/ckanext-offenedaten" target="_blank" class="btn"><i class="icon-github"></i> Source Code</a></li>
{% endblock %}

{% block primary %}
  <article class="module about">
    <header class="module-content page-header">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#about" data-toggle="tab">Overview</a></li>
        <li><a href="#vision" data-toggle="tab">The vision</a></li>
      </ul>
    </header>

    <div class="module-content">
      <div class="row">
        <div class="span8 tab-content">

          <div class="tab-pane active" id="about">
            <h2>What is {{ g.site_title }}?</h2>
            <p class="lead">
              {{ g.site_title }} German open data portal, providing access to open, freely reusable datasets ranging from governmental data to data about public libraries.
            </p>

            <h3>Would you like your data to be included in {{ g.site_title }}?</h3>
            <p>If you would like your data to be added to {{ g.site_title }}, please <a href="mailto:info@okfn.de">contact us</a> with the details of your data.

          </div>

          <div class="tab-pane" id="vision">
            <h2>What is the vision behind {{ g.site_title }}?</h2>
          </div>

        </div>

        <aside class="span3">

          <p><a href="http://okfn.org" target="_blank"><img src="http://m.okfn.org/images/logo/logo_fullname_medium.png" height="50"></a></p>

          <p>{{ g.site_title }} is developed by the <a href="http://okfn.de" target="_blank">Open Knowledge Foundation Deutschland</a>.</p>

          <p>{{ g.site_title }} is powered by <a href="http://ckan.org" target="_blank">CKAN</a>, a data
          catalogue system used by various institutions and communities to manage open
          data. CKAN and all its components are open source software and used by a wide
          community of catalogue operators from across Europe, including the UK
          Government's data.gov.uk portal. CKAN is developed by the <a href="http://okfn.de" target="_blank">Open Knowledge Foundation</a>, a UK based non profit</p>

          <p><a href="http://ckan.org/" target="_blank"><img src="http://assets.okfn.org/p/ckan/img/ckan_logo_shortname.png" height="50"></a></p>

        </aside>

      </div>
    </div>
  </div>
</article>

{% endblock %}
