
{% ckan_extends %}

{% block breadcrumb_content %}
  <li class="active"><a href="#">Über {{ g.site_title }}</a></li>
{% endblock %}

{% block add_action_content %}
  <a href="mailto:info@offenedaten.de.de" class="btn"><i class="icon-envelope"></i> Kontakt</a>
  <a href="http://github.com/okfde/ckanext-offenedaten" target="_blank" class="btn"><i class="icon-github"></i> Quelltext</a>
{% endblock %}

{% block primary %}
  <article class="module about">
    <header class="module-content page-header">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#about" data-toggle="tab">Über</a></li>
        <li><a href="#mitarbeit" data-toggle="tab">Mithelfen</a></li>
      </ul>
    </header>

    <div class="module-content">
      <div class="row">
        <div class="span7 tab-content">

          <div class="tab-pane active" id="about">
            <h2>Was ist {{ g.site_title }}?</h2>
            <p class="lead">
              {{ g.site_title }} ist ein Datenkatalog für offene Daten in Deutschland. Die Seite wurde 2010 von engagierten Bürgern initiiert, weil es bis Dato kein vergleichbares Angebot in Deutschland gab.
            </p>
            <p>
              Die Seite wird heute von der Open Knowledge Foundation Deutschland mit dem Zweck betrieben ein unabhängiges und umfassendes Datenangebot anzubieten, in dem sowohl Daten der Öffentlichen Verwaltung als auch Daten aus anderen Wissensdomainen, aus Wissenschaft und Forschung oder der Privatwirtschaft sowie von Bürgern erzeugte Daten (Crowdsourcing) zu finden sind.
            </p>
            <p>
              Ab 2014 enthält das Portal auch die Gesamtmetadaten des <a href="http://www.open-data-map.de/">Open Data Monitor</a> Projektes. Das Ziel des Projekts war es, mit vertretbarem Aufwand einen möglichst vollständigen Überblick über die Angebote offener Daten von möglichst vielen Stellen im öffentlichen Sektor in Deutschland (11.191 Gemeinden, mehrere Dutzend Landesbehörden pro Bundesland, Bundesbehörden und öffentliche Unternehmen auf allen drei Ebenen) zu verschiedenen Themengebieten zu gewinnen und nutzergerecht/geographisch durchsuchbar zu machen.
            </p>
            <p>
              Die Adressaten waren in erster Linie Studierende, Wissenschaftler und Journalisten sowie App-Entwickler, die wissen wollen, welche Gebietskörperschaften offene Daten zu einem bestimmten Themengebiet anbieten. Das Hauptergebnis von dem Projekt für {{ g.site_title }} war eine Verknüpfung der Daten mit Ortsspezifische Organisationen, die nicht unbedingt direkt die Daten veröffentlichen (z.B. Aussortierung nach Gemeinde der Daten in govdata.de oder Darstellung eines Datenergebnisses von einer Domäne-spezifischen Suche auf Google). Die Daten sind auch somit zum ersten Mal auf {{ g.site_title }} <a href="/map">kartografiert</a>.
            </p>
            <p>
              Das Portal basiert auf der aktuellen Entwickler-Version von <a href="http://ckan.org/">CKAN</a> und dient damit auch als Experimentierfeld für neue Features. {{ g.site_title }} ist mit ehrenamtlicher Arbeit und ohne Budget innerhalb weniger Tage entstanden. Die gesamte Seite ist <a href="https://github.com/okfde/ckanext-offenedaten">freie Software/Open Source</a> und <a href="https://github.com/okfde/ckanext-offenedaten/issues">wir freuen uns über Feedback</a>.
            </p>
          </div>

          <div class="tab-pane" id="mitarbeit">
            <h2>Wie kann ich bei {{ g.site_title }} mithelfen?</h2>
            <p class="lead">
              {{ g.site_title }} wird von der Open-Data-Community in Deutschland kuratiert.
            </p>
            <p>Wir brauchen deine Hilfe bei folgenden Aufgaben:</p>
            <ul>
              <li>Datensätze mit verschwundenen Daten entfernen.</li>
              <li>Datensätze mit nicht-offenen Lizenzen mit "nicht-offen" taggen.</li>
              <li>Datensätze, die nicht maschinenlesbar sind müssen getaggt und ggf. aufbereitet werden.</li>
              <li>Neue offene Datensätze können eingetragen werden.</li>
            </ul>
            <p>Mehr Details folgen...</p>
          </div>
        </div>

        <aside class="span3">
          <p><a href="http://okfn.org" target="_blank"><img src="/images/logo_fullname_medium.png" height="50"></a></p>

          <p>{{ g.site_title }} wird von der <a href="http://okfn.de" target="_blank">Open Knowledge Foundation Deutschland</a> betrieben.</p>

          <p>Die Software hinter {{ g.site_title }} ist <a href="http://ckan.org" target="_blank">CKAN</a>, eine Datenkatalog-Software die von vielen Ländern und Organisationen genutzt wird um offene Daten zu verwalten. CKAN und alle Komponenten sind Open Source Software. CKAN wird z.B. auch vom Datenportal der britischen Regierung data.gov.uk verwendet.</p>

          <p><a href="http://ckan.org/" target="_blank"><img src="/images/ckan_logo_shortname.png" height="50"></a></p>

        </aside>

      </div>
    </div>
  </div>
</article>

{% endblock %}
