<section id="showmap" class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-medium icon-globe"></i>
    <a href="{{ url }}" class="action">Wo ist {{ title }}</a>
  </h2>
  <div class="showmap-text">
    <br><iframe width="200" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=2.63671875%2C47.14489748555398%2C17.490234375%2C55.16631894125086&amp;layer=hot&amp;marker={{ lat }}%2C{{ lon }}" style="border: 1px solid black"></iframe>
  </div>
</section>
